<div class="mt-4">
    <h2>Khoa hoc cua toi</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ten</th>
                <th scope="col">Trinh do</th>
                <th scope="col">Thoi gian tao</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>          
                    <a class="btn btn-link" href="/courses/{{this._id}}/edit" >Edit</a>
                    <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#del-courses-modal" data-bs-_id="{{this._id}}">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- confirm  delete courses--}}

<!-- Modal -->
<div class="modal fade" id="del-courses-modal" tabindex="-1" aria-labelledby="del-courses-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="del-courses-modalLabel">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Ban co chac chan muon xoa khoa hoc nay khong?
      </div>
      <div class="modal-footer">
        <button id="btn-del-courses" type="button" class="btn btn-danger">Xoa Bo</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Huy</button>
      </div>
    </div>
  </div>
</div>

{{!-- DELETE HIDDEN FORM --}}

<form id="del-courses-form" method="POST" style="display: none;">

</form>

<script>
    let id_courses_del;
    let form = document.getElementById('del-courses-form');

    let del_courses_modal = document.getElementById('del-courses-modal');
    if (del_courses_modal) {
        del_courses_modal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            const id = button.getAttribute('data-bs-_id');
            console.log(id);
            id_courses_del = id;
        })
    }
    const btn_del_courses = document.getElementById('btn-del-courses');
    if (btn_del_courses) {
        btn_del_courses.addEventListener('click', event => {
            console.log('delete: ' + id_courses_del);
            form.action = '/courses/' + id_courses_del + '?_method=DELETE';
            form.submit();
        })
    }
</script>