<div class="m-4">
    <h2>Edit {{courses.name}}</h2>
    <form method="post" action="/courses/{{courses._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Ten khoa hoc:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{courses.name}}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mo ta:</label>
            <textarea class="form-control" id="description" name="description">{{courses.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="video" class="form-label">Videoid: </label>
            <input type="text" class="form-control" id="video" name="videoid" value="{{courses.videoid}}">
        <div class="mb-3">
            <label for="level" class="form-label">Level: </label>
            <input type="text" class="form-control" id="level" name="level" value="{{courses.level}}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>